<md-card class="login">
	<div *ngIf="!isloading">
		<div class="icon">
			<md-icon>person_pin</md-icon>
		</div>
		<form [formGroup]="loginform" (ngSubmit)="login()">
			<md-input type="text" [formControl]="loginform.controls['username']" placeholder="Username" required autofocus></md-input>
			<md-input type="password" [formControl]="loginform.controls['password'] "placeholder="Password" required #Password></md-input>
			<button md-raised-button color="warn" type="submit" class="login-button">Login</button>
			<br>
			<br>
		</form>
		<button md-button (click)="openForgotDialog()">Forgot Password</button>
		<button md-button (click)="openRegisterDialog()" class="register">Register</button>
	</div>
	<div *ngIf="isloading" class="spinnerwrapper">
		<div class="spinner">
			<md-progress-spinner mode="indeterminate" color="warn"></md-progress-spinner>
		</div>
	</div>
</md-card>