<h1>Register</h1>
<form [formGroup]="regform" (ngSubmit)="register()">
  <md-input placeholder="First name" name="firstName" [formControl]="regform.controls['firstName']" required></md-input>
  <br>
  <md-input placeholder="Last name" name="lastName" [formControl]="regform.controls['lastName']" required></md-input>
  <br>
  <md-input placeholder="E-Mail" name="email" [formControl]="regform.controls['email']" required></md-input>
  <br>
  <span>Role</span>
  <select placeholder="Role" name="role">
    <option value="stud">Student</option>
    <option value="prof">Professor</option>
  </select>
  <br>
  <br>
  <br>
  <md-input placeholder="New password" type="password" [formControl]="regform.controls['pass']"></md-input>
  <br>
  <md-input [dividerColor]="isvalid ? 'primary':'warn'" placeholder="Confirm new password" type="password" [formControl]="regform.controls['passConfirm']" [ngClass]="isvalid ? 'ok':'notok'"></md-input>
  <span *ngIf="isvalid == true">
  <md-icon>done</md-icon>
  <p>Password match!</p>
  </span>
  <span *ngIf="isvalid == false">
  <md-icon>error</md-icon>
  <p>Password don't match!</p>
  </span>
  <br>
  <br>
  <button md-raised-button type="submit">Register</button>
</form>
  