<h1 class="meetinginput">Register</h1>
<br>
<h4 class="meetinginput">Who are you?</h4>
<form class="meetinginput" [formGroup]="regform" (ngSubmit)="register()">
  <md-input class="meetinginput" placeholder="Username" name="email" [formControl]="regform.controls['email']" required></md-input>
  <br>
  <md-input class="meetinginput" placeholder="First name" name="firstName" [formControl]="regform.controls['firstName']" required></md-input>
  <br>
  <md-input class="meetinginput" placeholder="Last name" name="lastName" [formControl]="regform.controls['lastName']" required></md-input>
  <br>
  <br>
  <h4>Password:</h4>
  <md-input class="meetinginput" placeholder="New password" type="password" [formControl]="regform.controls['pass']"></md-input>
  <br>
  <md-input class="meetinginput" [dividerColor]="isvalid ? 'primary':'warn'" placeholder="Confirm new password" type="password"
    [formControl]="regform.controls['passConfirm']" [ngClass]="isvalid ? 'ok':'notok'"></md-input>
  <div class="meetinginput" *ngIf="isvalid === true">
    <md-icon>done</md-icon>
    Password match!
  </div>
  <div class="meetinginput" *ngIf="isvalid === false && this.regform.get('passConfirm').dirty">
    <md-icon>error</md-icon>
    Passwords don't match!
  </div>
  <br>
  <button class="meetinginput" disabled="{{isvalid === false}}" md-raised-button type="submit">Register</button>
</form>