.calendar {
  width: 610px; }

.innercalendar {
  width: 605px; }

.wrapper {
  padding: 7px 7px 7px 7px; }

.nav-buttons {
  margin-top: 5px; }

.view-buttons {
  overflow: hidden;
  padding-top: 3px;
  padding-left: 3px; }

.left {
  float: left; }

.right {
  float: right; }

.right p {
  font-size: 32px !important; }
