<div class="wrapper">
      
      <button
            md-raised-button
            (click)="switchToMonth()"
            [disabled]="view==='month'">
            Month
      </button>

      <button
            md-raised-button
            (click)="switchToWeek()"
            [disabled]="view==='week'">
            Week
      </button>

      <button
            md-raised-button
            (click)="switchToDay()"
            [disabled]="view==='day'">
            Day
      </button>

      <br>
      <br>

      <div [ngSwitch]="view" class="calendar">

            <mwl-calendar-month-view
                  *ngSwitchCase="'month'"
                  [viewDate]="viewDate"
                  [events]="(slots | async)"
                  (dayClicked)="dayClicked($event.day)">
            </mwl-calendar-month-view>

            <mwl-calendar-week-view
                  *ngSwitchCase="'week'"
                  [viewDate]="viewDate"
                  [events]="(slots | async)"
                  (eventClicked)="dayClicked($event)">
            </mwl-calendar-week-view>

            <mwl-calendar-day-view
                  *ngSwitchCase="'day'"
                  [viewDate]="viewDate"
                  [events]="(slots | async)"
                  (eventClicked)="dayClicked($event)">
            </mwl-calendar-day-view>

      </div>
</div>