<div class="wrapper">
      <button md-raised-button (click)="switchToMonth()" [disabled]="view==='month'">Month</button>

      <button md-raised-button (click)="switchToWeek()" [disabled]="view==='week'">Week</button>

      <button md-raised-button (click)="switchToDay()" [disabled]="view==='day'">Day</button>

      <br>
      <br>

      <div [ngSwitch]="view" class="calendar">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" (dayClicked)="dayClicked($event.day)"
                  (on-event-click)="eventClicked(calendarEvent)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events">
            </mwl-calendar-day-view>
      </div>
</div>