<div class="wrapper">
      <div class="innercalendar">
            <div [ngSwitch]="view" class="view-buttons">
                  <div class="left">
                        <button md-raised-button (click)="switchToMonth()" [disabled]="view==='month'">Month</button>
                        <!--
      <button md-raised-button (click)="switchToWeek()" [disabled]="view==='week'">
            Week
      </button>
-->
                        <button md-raised-button (click)="switchToDay()" [disabled]="view==='day'">Day</button>
                  </div>
                  <div *ngSwitchCase="'day'" class="right"><p>{{viewDay}}. {{viewMonth}} {{viewYear}}</p></div>
                  <div *ngSwitchCase="'month'" class="right"><p>{{viewMonth}} {{viewYear}}</p></div>
            </div>

            <div [ngSwitch]="view" class="nav-buttons">
                  <div *ngSwitchCase="'month'">
                        <button md-button (click)="decrementMonth()">
                        <md-icon>arrow_backward</md-icon>
                  </button>
                        <button md-button (click)="incrementMonth()">
                        <md-icon>arrow_forward</md-icon>
                  </button>
                  </div>
                  <div *ngSwitchCase="'day'">
                        <button md-button (click)="decrementDay()">
                        <md-icon>arrow_backward</md-icon>
                  </button>
                        <button md-button (click)="incrementDay()">
                        <md-icon>arrow_forward</md-icon>
                  </button>
                  </div>
            </div>

            <div [ngSwitch]="view" class="calendar">

                  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="slots | async" (dayClicked)="dayClicked($event.day)">
                  </mwl-calendar-month-view>
                  <!--
            <mwl-calendar-week-view
                  *ngSwitchCase="'week'"
                  [viewDate]="viewDate"
                  [events]="slots"
                  (eventClicked)="dayClicked($event)">
            </mwl-calendar-week-view>
            -->
                  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="slots | async" (eventClicked)="dayClicked($event)">
                  </mwl-calendar-day-view>

            </div>
      </div>
</div>