<div class="profprofil">
    <md-card>
        <button [routerLink]="'/'" md-mini-fab color="warn">
		<md-icon>arrow_back</md-icon>
	</button>
        <br>
        <br>
        <md-card-title>Your profile</md-card-title>
        <md-card-content>
            <p *ngIf="(user | async).role==='stud'"><b>Rolle:</b> Student</p>
            <p *ngIf="(user | async).role==='prof'"><b>Rolle:</b> Professor</p>
            <p><b>User-ID:</b> {{(user | async).id}}</p>
            <p><b>E-Mail:</b> {{(user | async).username}}</p>
            <p *ngIf="(user | async).title"><b>Titel:</b> {{(user | async).title}}</p>
            <p><b>Firstname:</b> {{(user | async).firstname}}</p>
            <p><b>Lastname:</b> {{(user | async).lastname}}</p>
            <div *ngFor="let studycourse of (user | async).user.studycourses">
                <p><b>Studycourse:</b> {{studycourse.name}}</p>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <br>
        <passwordchange-component></passwordchange-component>
    </md-card>
</div>