<div class="profprofil">
    <md-card>
        <button [routerLink]="'/'" md-mini-fab color="warn">
		<md-icon>arrow_back</md-icon>
	</button>
        <br>
        <br>
        <md-card-title>Your profil</md-card-title>
        <md-card-content>
            <p><b>Name:</b> Prof. Dr. Otto Offline</p>
            <p><b>Studiengang:</b> Wirtschaftsinformatik</p>
            <p><b>Fakultät:</b> C</p>
        </md-card-content>
        <md-divider></md-divider>
        <br>
        <passwordchange-component></passwordchange-component>
    </md-card>
</div>