<div *ngIf="slot">
    <md-input placeholder="Status" value="{{slot.status}}" class="meetinginput" disabled></md-input>
    <br>
    <br>
    <md-input *ngIf="((user | async).role === 'prof')" placeholder="Student" value="{{studname}}" class="meetinginput" disabled></md-input>
    <md-input *ngIf="((user | async).role === 'stud')" placeholder="Professor" value="{{profname}}" class="meetinginput" disabled></md-input>
    <br>
    <br>
    <md-input placeholder="Title" value="{{slot.name}}" class="meetinginput" disabled></md-input>
    <br>
    <br>
    <md-input placeholder="Start" value="{{slot.date | transformdate}}" class="meetinginput" disabled></md-input>
    <br>
    <br>
    <md-input placeholder="Duration" value="{{slot.duration}} Minutes" disabled class="meetinginput"></md-input>
    <br>
    <br>
    <md-input-container class="meetinginput">
        <textarea md-input value="{{slot.comment}}" placeholder="Additional information" rows="4" disabled></textarea>
    </md-input-container>
    <div *ngIf="((user | async).role === 'prof')">
        <div *ngIf="slot.status ==='OPEN'">
            <br>
            <button md-raised-button (click)="acceptSlot()">Accept</button>
            <button md-raised-button (click)="rejectSlot()" color="warn">Reject</button>
        </div>
        <div *ngIf="slot.status ==='ACCEPTED'">
            <button md-raised-button (click)="joinSlot()" color="warn">Join Meeting</button>
        </div>
        <div *ngIf="slot.status ==='CANCELED'">
            <button md-raised-button (click)="deleteSlot()" color="warn">Delete</button>
        </div>
    </div>
</div>

<!-- this is the template for creating a new request -->
<div *ngIf="!slot">
    <h4>Create new requeset</h4>
    <br>
    <form [formGroup]="createForm" (ngSubmit)="createRequest()">
        <md-input placeholder="Title" class="meetinginput" [formControl]="createForm.controls['name']" required></md-input>
        <br>
        <br>
        <select (change)="setSelectedProfessor($event.target.value)">
            <option *ngFor="let professor of professors" [value]="professor.id">{{professor.title}} {{professor.firstname}} {{professor.lastname}}</option>
        </select>
        <br>
        <br>
        <select (change)="setSelectedStudycourse($event.target.value)">
            <option *ngFor="let studycourse of selectedProfessor.studycourses" [value]="studycourse.id">{{studycourse.name}}</option>
        </select>
        <br>
        <br>
        <select (change)="setSelectedDuration($event.target.value)">
            <option *ngFor="let duration of durationOptions" [value]="duration">{{duration}}</option>
        </select> minutes
        <br>
        <br>
        <md-input-container class="meetinginput">
            <textarea md-input placeholder="Additional information" rows="4" [formControl]="createForm.controls['comment']"></textarea>
        </md-input-container>
        <br>
        <br>
        <input type="date">
        <br>
        <br>
        <button md-raised-button color="warn" type="submit">Create request</button>
    </form>
</div>