<div *ngIf="slot">
    <md-input placeholder="Status" class="meetinginput" value="{{slot.status}}" disabled></md-input>
    <md-input placeholder="Title" value="{{slot.title}}" class="meetinginput" [formControl]="createform.controls['title']" disabled></md-input>
    <br>
    <br>
    <select (change)="setSelectedProfessor($event.target.value)" disabled>
            <option *ngFor="let professor of (professors | async)" [value]="professor.id">{{professor.lastname}}</option>
        </select>
    <br>
    <br>
    <md-input placeholder="Vorlesung" value="{{slot.vorlesung}}" class="meetinginput" disabled></md-input>
    <br>
    <br>
    <md-input placeholder="Start" value="{{slot.start}}" class="meetinginput" disabled></md-input>
    <br>
    <br>
    <select (change)="setSelectedProfessor($event.target.value)" disabled>
            <option *ngFor="let duration of durationoptions" [value]="duration">{{duration}}</option>
        </select>
    <br>
    <br>
    <md-input placeholder="Info" value="{{slot.info}}" class="meetinginput" disabled></md-input>
    <div *ngIf="((user | async).role === 'prof')">
        <div *ngIf="slot.status ==='open'">
            <br>
            <md-input placeholder="Additional information for student"></md-input>
            <br>
            <button md-raised-button (click)="acceptSlot()">Accept</button>
            <button md-raised-button (click)="rejectSlot()" color="warn">Reject</button>
        </div>
        <div *ngIf="slot.status ==='accepted'">
            <button md-raised-button (click)="joinSlot()" color="warn">Join Meeting</button>
        </div>
        <div *ngIf="slot.status ==='canceled'">
            <button md-raised-button (click)="deleteSlot()" color="warn">Delete</button>
        </div>
    </div>
</div>

<div *ngIf="!slot">
    <h4>Create new requeset</h4>
    <br>
    <form [formGroup]="createform" (ngSubmit)="save()">
        <md-input placeholder="Title" class="meetinginput" [formControl]="createform.controls['title']"></md-input>
        <br>
        <br>
        <select>
            <option *ngFor="let professor of (professors | async)" [value]="professor.id">{{professor.lastname}}</option>
        </select>
        <br>
        <br>
        <select>
            <option *ngFor="let vorlesung of selectedProfessor.vorlesungen" [value]="vorlesung.id">{{vorlesung.title}}</option>
        </select>
        <br>
        <br>
        <md-input placeholder="Start" class="meetinginput"></md-input>
        <br>
        <br>
        <select>
            <option *ngFor="let duration of durationOptions" [value]="duration">{{duration}}</option>
        </select>
        <br>
        <br>
        <md-input placeholder="Info" class="meetinginput" [formControl]="createform.controls['info']"></md-input>
        <br>
        <br>
        <input type="date">
        <button md-raised-button type="submit">Create request</button>
    </form>
</div>