<div *ngIf="meeting">
    <button md-raised-button *ngIf="(user | async).role === 'prof'">Join Meeting</button>
    <br>
    <md-input placeholder="Status" class="meetinginput" disabled>{{meeting.status}}</md-input>
    <md-input placeholder="Title" value="{{meeting.title}}" class="meetinginput" disabled></md-input>
    <br>
    <br>
    <select (change)="setSelectedPerson($event.target.value)" disabled>
            <option *ngFor="let person of (persons | async)" [value]="person.id">{{person.name}}</option>
        </select>
    <br>
    <br>
    <md-input placeholder="Vorlesung" value="{{meeting.vorlesung}}" class="meetinginput" disabled></md-input>
    <br>
    <br>
    <md-input placeholder="Start" value="{{meeting.start}}" class="meetinginput" disabled></md-input>
    <br>
    <br>
    <select (change)="setSelectedPerson($event.target.value)" disabled>
            <option *ngFor="let duration of durationoptions" [value]="duration">{{duration}}</option>
        </select>
    <br>
    <br>
    <md-input placeholder="Info" value="{{meeting.info}}" class="meetinginput" disabled></md-input>
</div>

<div *ngIf="!meeting">
    <h4>Create new requeset</h4>
    <br>
    <form [formGroup]="createform" (ngSubmit)="save()">
        <md-input placeholder="Title" class="meetinginput" [formControl]="createform.controls['title']"></md-input>
        <br>
        <br>
        <select>
            <option *ngFor="let person of (persons | async)" [value]="person.id">{{person.name}}</option>
        </select>
        <br>
        <br>
        <select>
            <option *ngFor="let vorlesung of selectedperson.vorlesungen" [value]="vorlesung.id">{{vorlesung.title}}</option>
        </select>
        <br>
        <br>
        <md-input placeholder="Start" class="meetinginput"></md-input>
        <br>
        <br>
        <select>
            <option *ngFor="let duration of durationoptions" [value]="duration">{{duration}}</option>
        </select>
        <br>
        <br>
        <md-input placeholder="Info" class="meetinginput" [formControl]="createform.controls['info']"></md-input>
        <br>
        <br>
        <input type="date">
        <button md-raised-button type="submit">Create request</button>
    </form>
</div>