<md-card class="videoWraper" (mouseover)="enter()" (mouseleave)="leave()">
	<video #myVideo class="myVideo" autoplay muted></video>
	<video #otherVideo class="otherVideo" autoplay></video>
	<div *ngIf="showmenu" class="videomenu">
		<button md-icon-button (click)="videoClicked()">
			<md-icon *ngIf="videoactive">videocam</md-icon>
			<md-icon *ngIf="!videoactive">videocam_off</md-icon>
		</button>
		<button md-icon-button (click)="audioClicked()">
			<md-icon *ngIf="audioactive">mic</md-icon>
			<md-icon *ngIf="!audioactive">mic_off</md-icon>
		</button>
	</div>
</md-card>