.videoWraper {
  height: 333px;
  width: 444px;
  position: relative;
  padding: 1px 1px 1px 1px; }

.myVideo {
  height: 90px;
  position: absolute;
  bottom: 1px; }

.otherVideo {
  height: 333px;
  width: 444px; }
