<md-toolbar color="primary">

	<!-- LEFT -->
	<button *ngIf="(user | async).loggedin" md-icon-button (click)="toggle()">
      <md-icon>menu</md-icon>
    </button>
	<span>Menü</span>
	<!-- END OF LEFT -->

	<span style="flex: 1 1 auto;"></span>

	<!-- END RIGHT-->
	<!-- show when user is logged out -->
	<span *ngIf="!(user | async).loggedin">
        <button md-raised-button style="color: black;">Create Account</button>
        <a [routerLink]="'auth'" ><button md-raised-button style="color: black;">Login</button></a>
    </span>
	<!-- show when user is logged out -->

	<!-- show when user is logged in -->
	<span *ngIf="(user | async).loggedin">
		<button md-icon-button>
			<md-icon>account_box</md-icon>
		</button>
	</span>
	<span *ngIf="(user | async).loggedin">
		{{(user | async).name}}
	</span>
	<span *ngIf="(user | async).loggedin">
		<button md-icon-button>
			<md-icon>settings</md-icon>
		</button>			
        <button md-icon-button (click)="logoutUser()">
			<md-icon>power_settings_new</md-icon>
		</button>
	</span>
	<!-- show when user ist logged in -->
	<!-- END OF RIGHT -->

</md-toolbar>