<md-card-title>Change password</md-card-title>
<md-card-content>
    <md-input placeholder="Old password" type="password" [formControl]="passwordGroup.controls['oldPassword']"></md-input>
    <br>
    <md-input placeholder="New password" type="password" [formControl]="passwordGroup.controls['newPassword1']"></md-input>
    <br>
    <md-input placeholder="Confirm new password" type="password" [formControl]="passwordGroup.controls['newPassword2']"></md-input>
    <br>
    <button (click)="changePassword()" md-raised-button>Update password</button>
</md-card-content>