<md-card-title>Change password</md-card-title>
<md-card-content>
    <md-input placeholder="Old password" type="password" #oldPw></md-input>
    <br>
    <md-input placeholder="New password" type="password" #newPw1></md-input>
    <br>
    <md-input placeholder="Confirm new password" type="password" #newPw2></md-input>
    <br>
    <div *ngIf="newPw1.value !== newPw2.value">Passwörter müssen übereinstimmen!</div>
    <br>
    <br>
    <button (click)="changePassword(oldPw.value, newPw1.value, newPw2.value)" md-raised-button>Update password</button>
</md-card-content>