<div class="studprofil">
    <md-card>
        <button [routerLink]="'/'" md-icon-button>
		<md-icon>arrow_back</md-icon>
	</button>
        <br>
        <br>
        <md-card-title>Your profil</md-card-title>
        <md-card-content>
            <p><b>Name:</b> Max Mustermann</p>
            <p><b>Studiengang:</b> Wirtschaftsinformatik</p>
            <p><b>Matrikelnummer:</b> 2345123</p>
        </md-card-content>
        <md-divider></md-divider>
        <br>
        <passwordchange-component></passwordchange-component>
    </md-card>
</div>