<md-toolbar color="warn">

	<!-- LEFT -->
	<button *ngIf="(user | async).loggedin" md-icon-button (click)="toggle()">
      <md-icon>menu</md-icon>
    </button>
	<span><a style="color:white;text-decoration: none;"[routerLink]="'/'"><b>EduTalk</b></a></span>
	<!-- END OF LEFT -->

	<span style="flex: 1 1 auto;"></span>

	<!-- RIGHT-->
	<!-- show when user is logged out -->
	<span *ngIf="!(user | async).loggedin">
        <button md-icon-button (click)="openDialog()">
			<md-icon >help_outline</md-icon>
		</button>
    </span>
	<!-- show when user is logged out -->

	<!-- show when user is logged in -->
	<span *ngIf="(user | async).loggedin">
		<button *ngIf="(user | async).role === 'stud'" [routerLink]="'studprofil'" md-icon-button>
			<md-icon>account_box</md-icon>
		</button>
		<button *ngIf="(user | async).role === 'prof'" [routerLink]="'profprofil'" md-icon-button>
			<md-icon>account_box</md-icon>
		</button>
	</span>
	<span *ngIf="(user | async).loggedin">
		{{(user | async).username}}
	</span>
	<span *ngIf="(user | async).loggedin">
        <button md-icon-button (click)="logoutUser()">
			<md-icon>power_settings_new</md-icon>
		</button>
	</span>
	<!-- show when user is logged in -->
	<!-- END OF RIGHT -->

</md-toolbar>