@import './styles.scss';

#my-page-card {
  min-height: 100%;
}

.cal-month-view .cal-event {
  background-color: #f44336!important;
}

.cal-month-view .cal-day-badge {
  background-color: #f44336;
}

#my-page-card {
  min-height: 90vh!important;
}

