<div class="meetings">
    <div class="createbutton">
        <button md-mini-fab color="warn" (click)="create()">
            <md-icon class="md-24">add</md-icon>
        </button>
    </div>
    <md-card *ngFor="let meeting of (meetings | async)" (click)="openDialog(meeting)">
            <div class="type" [ngClass]="[meeting.status]"></div>
            <md-card-subtitle>{{meeting.vorlesung}}</md-card-subtitle>
            <md-card-title>{{meeting.prof}}</md-card-title>
            <md-card-content>
                <p>{{meeting.start | transformdate}}</p>
            </md-card-content>
    </md-card>
</div>