.meetings {
    width: 260px;
    padding: 7px 7px 7px 7px;
}
.meeting {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 0 0 0;
}

p {
    margin-bottom: 5px;
}

h5 {
    margin-bottom: 10px;
}

h4 {
    padding-left: 24px;
    padding-top: 10px;
}

md-icon {
    font-size: 32px;
    width: auto;
    height: auto;
}

button {
    position: absolute;
    right: 7px;
    top: 17px;
}