.meetings {
  width: 300px;
  padding: 7px 7px 7px 7px; }

md-card:hover {
  background: #e6e5e5; }

md-card-subtitle {
  margin-bottom: 7px; }

md-card-title {
  margin-bottom: 0px; }

md-card {
  padding-top: 15px;
  padding-bottom: 15px; }

.createbutton {
  right: 0px !important;
  margin-bottom: 5px;
  text-align: right; }
