.messages {
  height: 200px;
  overflow-y: scroll; }

.inputform {
  margin-top: 10px; }

.own .md-list-item {
  justify-content: flex-end !important;
  background-color: #ade0ad;
  height: 22px !important; }

.peer .md-list-item {
  background-color: #e1e1e1;
  height: 22px !important; }

.text {
  margin-bottom: 0; }

.chat {
  height: 333px;
  max-width: 444px; }

.messageinput {
  width: 295px;
  margin-right: 7px; }
