<md-card class="chat">
	<h4>Chat</h4>
	<div class="messages" #Messages>
		<md-list dense>
			<md-list-item *ngFor="let message of (chat | async).messages" [ngClass]="message.source === 'own' ? 'own' : 'peer'" >
				<p class="text">{{message.text}}</p>
			</md-list-item>
		</md-list>
	</div>
	<md-divider></md-divider>
	<form class="inputform" [formGroup]="chatform" (ngSubmit)="send()">
		<md-input class="messageinput" #Input formControlName="message" placeholder="Message..." autocomplete="off"></md-input>
		<button md-raised-button [disabled]="!(storecon |async).callactive" type="submit">Send</button>
	</form>
</md-card>