.messages {
  height: 200px;
  overflow-y: scroll; }

.inputform {
  margin-top: 10px; }

.own .md-list-item {
  justify-content: flex-end !important; }

.text {
  margin-bottom: 0; }

.chat {
  height: 333px;
  max-width: 444px; }

.messageinput {
  width: 295px;
  margin-right: 7px; }
